
modules = ["web"]
language = "hugo"
run = "hugo server --bind 0.0.0.0 --baseURL ${REPL_SLUG}.${REPL_OWNER}.repl.co"

[nix]
channel = "stable-24_05"

[deployment]
build = ["hugo --minify"]
publicDir = "public"
deploymentTarget = "static"

[[ports]]
localPort = 1313
externalPort = 80
